.display {
    padding: 20px;
    background-color: #222;
    color: #fff;
    text-align: right;
    border-radius: 10px 10px 0 0;
}

.input {
    font-size: 2rem;
}

.result {
    font-size: 1.5rem;
    opacity: 0.7;
}

@media (max-width: 480px) {
    .input {
        font-size: 1.5rem;
    }

    .result {
        font-size: 1.2rem;
    }
}
